<html lang="pt-br">
    {% load static %}
	<head>
		<meta charset="utf-8"/>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">

		<!-- Compiled and minified CSS -->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <style>
            p, div, label, button, a{
                font-family: 'Work Sans', sans-serif;
            }

            h1, h2, h3, h4, h5, th{
                font-family: 'Lato', sans-serif;
            }

        </style>


		<title> {% block title %} {% endblock %} </title>

	</head>
	<body style = 'background:  {% if request.user.profile.tema == 'C' %}
                                    #64FFDA
                                {% endif %}

                                {% if request.user.profile.tema == 'N' %}
                                    #01579B
                                {% endif %};'>
		<nav>
		    <div class="nav-wrapper {% if request.user.profile.tema == 'C' %}
                                        light-blue darken-2
                                    {% endif %}

                                    {% if request.user.profile.tema == 'N' %}
                                        blue-grey darken-4
                                    {% endif %}">
		      	<a href="{% url 'projeto_lista' %}" style="margin-left: 40px; color:#FFFFFF;">
                    {% if request.user.profile.tema == 'C' %}
                        <img src = "{% static 'usuarios/logos/Logo_C.png' %}" style = "height: 40px; margin-top: 1%;"/>
                    {% endif %}
                    {% if request.user.profile.tema == 'N' %}
                        <img src = "{% static 'usuarios/logos/Logo_N.png' %}" style = "height: 40px; margin-top: 1%;"/>
                    {% endif %}
                </a>

		      	<ul id="nav-mobile" class="right">

                    <li style="margin-right: 10px;"> Olá, {{ request.user.first_name}} </li>

			      	<li {% if menu == "projetos" %}class="active" {% endif %}><a href=" {% url 'projeto_lista' %} " style="height: 100%; width: 120px;">
			      		<img src = "{% static 'usuarios/icons/projetos.png' %}" style = "width: 40%; margin-left: 30%; margin-top: 20%;">
			      	</a></li>

			      	<li {% if menu == "tarefas" %}class="active" {% endif %}><a href="{% url 'visao_tarefa' %}" style="height: 100%; width: 120px;">
			      		<img src = "{% static 'usuarios/icons/tarefas.png' %}" style = "width: 40%; margin-left: 30%; margin-top: 20%;">
			      	</a></li>

			        <li {% if menu == "configuracoes" %}class="active" {% endif %}><a href=" {% url 'usuario_configuracao' %} " style="height: 100%; width: 120px;">
			      		<img src = "{% static 'usuarios/icons/configuracoes.png' %}" style = "width: 40%; margin-left: 30%; margin-top: 20%;">
			      	</a></li>

			        <li><a href="{% url 'logout' %}" style="height: 100%; width: 120px;">
			        	<img src = "{% static 'usuarios/icons/sair.png' %}" style = "width: 40%; margin-left: 30%; margin-top: 20%;">
			        </a></li>

		      	</ul>
		    </div>
	  	</nav>

	  	<div class = row>
	  		<div class = "col s12" style = "height: 25px; background:   {% if request.user.profile.tema == 'C' %}
                                                                            #01579B
                                                                        {% endif %}
                                                                        {% if request.user.profile.tema == 'N' %}
                                                                            #0288D1
                                                                        {% endif %};
                    color: #FFFFFF; text-align: center;"> {% block titulo %} {% endblock %} </div>
	  	</div>

		<div class = 'col s12' style = "background: {% if request.user.profile.tema == 'C' %}
                                                        #FFFFFF
                                                    {% endif %}
                                                    {% if request.user.profile.tema == 'N' %}
                                                        #263238
                                                    {% endif %};
                min-height: 80%; margin: 1%; border: 5px solid #00BFA5; border-radius: 15px;">

            {% block conteudo %}
            {% endblock %}

		</div>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"> </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"> </script>

        <script>

            $(document).ready(function() {
                $('select').material_select();
            });

            document.addEventListener('DOMContentLoaded', function() {
			    var elems = document.querySelectorAll('#projetos-options');
			    var instances = M.FloatingActionButton.init(elems, options);
			});

            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.collapsible');
                var instances = M.Collapsible.init(elems, options);
            });

            $(document).ready(function(){
			    $('.modal').modal();
			});

            {% if messages %}
                {% for message in messages %}
                    $(document).ready(function() {
                        Materialize.toast('{{ message }}', 4000)
                    });
                {% endfor %}
            {% endif %}

          </script>
	</body>
</html>