{% extends 'baseTemplate.html' %}

<!-- Title da Página -->
{% block title %}
    Allinum .:. Projeto
{% endblock title %}

<!-- Titulo que aparece no SubMenu da Página -->
{% block titulo %}
    Editar Projeto
{% endblock titulo %}

<!-- Conteúdo da Página (Hexadecimal) -->
{% block conteudo %}
    <div class = "row" style="margin-top: 20px;">
        <div class = "col s2">	</div>

        <form class="col s8" method="POST"> {% csrf_token %}

            <div class = "row">
				<div class="col s12">
					<label for="id_titulo"> Titulo: </label>
					<input id="id_titulo" name="titulo" maxlength="100" value="{{ projeto.titulo }}" required/>
				</div>
			</div>

			<div class = "row">
				<div class="col s12">
					<label for="id_descricao"> Descrição: </label>
				</div>
			</div>

			<div class = "row">
				<div class="col s12">
					<textarea name="descricao" cols="40" rows="10" maxlength="400" required> {{ projeto.descricao }} </textarea>
				</div>
			</div>

            <div class = "row">
				<div class="col s12">
					<label for="id_membros">Membros:</label>

					<select name="membros" id="id_membros" multiple>
                        <option value="" disabled> </option>
					  	{% for membro in membro_list %}
                            {% if membro.user.id != request.user.id %}
                            <option value="{{ membro.id }}"> {{ membro.user.username }} </option>
                            {% endif %}
                        {% endfor %}
					</select>
				</div>
			</div>

			<input type="hidden" name="lider" required id="id_lider" value="{{ request.user.pk }}">

            <div class="row">
                <div class="input-field col s3">
                    <button class="btn waves-effect waves-light blue-grey lighten-4">
                        <a href=" {% url 'projeto_lista' %}" class="black-text text-lighten-5">Cancelar</a>
                    </button>
                </div>

                <div class="input-field col s3">
                    <button class="btn waves-effect waves-light red lighten-2">
                        <a href="#modal1" class="black-text text-lighten-5">Excluir</a>
                    </button>
                </div>

                <div class="input-field col s3">
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Salvar
                    </button>
                </div>
            </div>

        </form>

        <div class = "col s2">	</div>
    </div>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Apagar Projeto</h4>
            <p>Tem certeza que deseja excluir o projeto "{{ projeto.titulo }}"?</p>
        </div>

        <div class="modal-footer">
            <div class="row">
                <div class="col s4"></div>
                <div class="col s4">
                    <button href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</button>
                </div>
                <div class="col s4">
                    <form method="post" action="{% url 'projeto_delete' %}"> {% csrf_token %}
                        <input type="hidden" name="pk" value="{{ projeto.pk }}">
                        <button type="submit" class="waves-effect waves-green btn-flat red darken-2" style="position:relative; top:-15px; left: -20px">Deletar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock conteudo %}