{% extends 'baseTemplate.html' %}

<!-- Title da Página -->
{% block title %}
    Allinum .:. Projeto
{% endblock title %}

<!-- Titulo que aparece no SubMenu da Página -->
{% block titulo %}
    Cadastro de Projeto
{% endblock titulo %}

<!-- Conteúdo da Página (Hexadecimal) -->
{% block conteudo %}
    <div class = "row" style="margin-top: 20px;">
        <div class = "col s2">	</div>

        <form class="col s8" method="POST"> {% csrf_token %}

            <div class = "row">
				<div class="col s12">
					<label for="id_titulo"> Titulo: </label>
					<input name="titulo" cols="40" rows="10" maxlength="100" required id="id_titulo"/>
				</div>
			</div>

			<div class = "row">
				<div class="col s12">
					<label for="id_descricao"> Descrição: </label>
				</div>
			</div>

			<div class = "row">
				<div class="col s12">
					<textarea name="descricao" cols="40" rows="10" maxlength="400" required id="id_descricao"></textarea>
				</div>
			</div>

            <div class = "row">
				<div class="col s12">
					<label for="id_membros">Membros:</label>

					<select name="membros" required id="id_membros" multiple>
                        <option value=""> </option>
					  	{% for membro in membro_list %}
                            <option value="{{ membro.id }}"> {{ membro.user.username }} </option>
                        {% endfor %}
					</select>
				</div>
			</div>

			<input type="hidden" name="lider" required id="id_lider" value="{{ request.user.pk }}">

            <div class="row">
                <div class="input-field col s2">
                    <button class="btn waves-effect waves-light blue-grey lighten-4">
                        <a href=" {% url 'projeto_lista' %}" class="black-text text-lighten-5">Cancelar</a>
                    </button>
                </div>

                <div class="input-field col s3">
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Cadastrar <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>

        </form>

        <div class = "col s2">	</div>
    </div>
{% endblock conteudo %}