{% extends 'baseTemplate.html' %}

<!-- Title da Página -->
{% block title %}
    Allinum .:. Projetos
{% endblock title %}

<!-- Titulo que aparece no SubMenu da Página -->
{% block titulo %}
    Projetos
{% endblock titulo %}

<!-- Conteúdo da Página (Hexadecimal) -->
{% block conteudo %}
    <div class = "row" style="margin-top: 20px;">
        <div class = "col s11" style="margin-left:20px">

            <table {% if request.user.profile.tema == 'N' %} class="light-blue-text text-lighten-5" {% endif %}>
                <thead>
                    <tr>
                        <th> Titulo </th>
                        <th> Descrição </th>
                        <th> Ult. Alteração </th>
                        <th> Líder </th>
                    </tr>
                </thead>

                <tbody>
                {% for projeto in context %}
                    <tr>
                        <td> <a href="{% url 'visao_projeto' pk=projeto.pk %}"> {{ projeto.titulo }} </a> </td>
                        <td> {{ projeto.descricao }} </td>
                        <td> {{ projeto.ult_alt }} </td>
                        {% if projeto.lider == request.user %}
                        <td>
                            <a href="{% url 'projeto_editar' pk=projeto.pk %}">
                                <i class="material-icons">create</i>
                            </a>
                            <a href="{% url 'projeto_delete' pk=projeto.pk %}">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                        {% endif %}
                        {% if projeto.lider != request.user %}
                        <td> {{ projeto.lider }} </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div style="position: absolute; bottom:50px; right: 50px;">
          <a class="btn-floating btn-large waves-effect waves-light light-blue darken-4" href = "{% url 'projeto_cadastro' %}"><i class="material-icons">add</i></a>
    </div>
{% endblock conteudo %}
