{% extends 'baseTemplate.html' %}

<!-- Title da Página -->
{% block title %}
    Allinum .:. Projeto
{% endblock title %}

<!-- Titulo que aparece no SubMenu da Página -->
{% block titulo %}
    Remoção de Projeto
{% endblock titulo %}

<!-- Conteúdo da Página (Hexadecimal) -->
{% block conteudo %}
    <div class="row">
        <div class = "col s2">	</div>

        <form class="col s8" method="POST"> {% csrf_token %}
            <div class="row">
                <div class="col s12">
                    <h4 {% if request.user.profile.tema == "N" %}class="white-text" {% endif %}> Tem certeza que deseja excluir a tarefa "{{ tarefa.titulo }}"?</h4>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s2">
                    <button class="btn waves-effect waves-light blue-grey lighten-4">
                        <a href=" {% url 'visao_projeto' pk=projeto.pk %}" class="black-text text-lighten-5">Cancelar</a>
                    </button>
                </div>

                <div class="input-field col s2">
                    <button class="btn waves-effect waves-light red darken-2" type="submit">
                        Remover <i class="material-icons right">clear</i>
                    </button>
                </div>
            </div>
        </form>

        <div class = "col s2">	</div>
    </div>
{% endblock conteudo %}