{% extends 'baseTemplate.html' %}

<!-- Title da Página -->
{% block title %}
    Cadastro
{% endblock title %}

<!-- Titulo que aparece no SubMenu da Página -->
{% block titulo %}
    Cadastro de Usuário
{% endblock titulo %}

<!-- Conteúdo da Página (Hexadecimal) -->
{% block conteudo %}
    <div class="row">
        <div class = "col s2">	</div>

        <form class="col s8" method="POST"> {% csrf_token %}
            <h4> Tem certeza que deseja excluir o usuário "{{ usuario.username }}"?</h4>
            <br>
            <button class="btn waves-effect waves-light red darken-2" type="submit">
                Remover <i class="material-icons right">clear</i>
            </button>
        </form>

        <div class = "col s2">	</div>
    </div>
{% endblock conteudo %}