{% extends 'baseTemplate.html' %}

<!-- Title da Página -->
{% block title %}
    Allinum .:. Configurações
{% endblock title %}

<!-- Titulo que aparece no SubMenu da Página -->
{% block titulo %}
    Configurações
{% endblock titulo %}

<!-- Conteúdo da Página (Hexadecimal) -->
{% block conteudo %}
    <div class = "row {% if request.user.profile.tema == 'N' %} light-blue-text text-lighten-5 {% endif %}" style="margin-top: 20px;">
        <div class = "col s2">	</div>

        <form class="col s8" method="POST"> {% csrf_token %}

            <h5> Configurações do Usuário </h5>

            <p>
                <label>
                    <input class="with-gap" name="tema" value="C" type="radio" {% if request.user.profile.tema == 'C' %} checked {% endif %} />
                    <span> Modo Clássico </span>
                </label>
            </p>

            <p>
                <label>
                    <input class="with-gap" name="tema" value="N" type="radio" {% if request.user.profile.tema == 'N' %} checked {% endif %}/>
                    <span> Modo Noturno </span>
                </label>
            </p>

            <p>
              <label>
                <input type="checkbox" name="fontes_grandes" class="filled-in" disabled/>
                <span> Fontes Grandes </span>
              </label>
            </p>

            <p>
                <label>
                    <a href="#modal2"  style="font-size:12pt;"> Redefinir minha senha </a>
                </label>
            </p>

            <div class="row">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light" type="submit">
                        Confirmar
                    </button>
                </div>
            </div>

        </form>

        <div class = "col s2">	</div>
    </div>
    {% if request.user.is_staff %}
    <div class = "row {% if request.user.profile.tema == 'N' %} light-blue-text text-lighten-5 {% endif %}">
        <div class = "col s2">	</div>

        <div class="col s8">

            <h5> Configurações do Adminstrador </h5>

            <a href="{% url 'usuario_lista' %}"> Adicionar ou Remover usuários  </a>
        </div>

        <div class = "col s2">	</div>
    </div>
    {% endif %}


    <div id="modal2" class="modal">
        <form method="post" action="{% url 'redefinicao_senha' %}"> {% csrf_token %}

        <div class="modal-content">
            <h4> Redefinir minha senha: </h4>

                <label for="id_senha_antiga"> Senha Atual: </label>
                <input id="id_senha_antiga" name="senha_antiga" type="password" class="validate" required>

                <label for="id_senha"> Senha: </label>
                <input id="id_senha" name="senha" type="password" class="validate" required>

                <label for="id_confirma_senha"> Confirma Senha: </label>
                <input id="id_confirma_senha" name="confirma_senha" type="password" class="validate" required>
        </div>

        <div class="modal-footer">
            <div class="row">
                <div class="col s4"></div>
                <div class="col s4">
                        <button type="submit" class="waves-effect waves-green btn-flat green darken-1">Confirmar</button>
                </div>
                <div class="col s4">
                    <button href="{% url 'usuario_configuracao' %}" class="modal-close waves-effect waves-green btn-flat">Cancelar</button>
                </div>
            </div>
        </div>

        </form>
    </div>

{% endblock conteudo %}