{% extends 'baseTemplate.html' %}

<!-- Title da Página -->
{% block title %}
    Allinum .:. Usuários
{% endblock title %}

<!-- Titulo que aparece no SubMenu da Página -->
{% block titulo %}
    Editar Usuário
{% endblock titulo %}

<!-- Conteúdo da Página (Hexadecimal) -->
{% block conteudo %}
    <div class = "row" style="margin-top: 20px;">
        <div class = "col s2">	</div>

        <form class="col s8" method="POST"> {% csrf_token %}

            <div class = "row">
                <div class="col s6">
                    <label for="nome"> Nome: </label>
                    <input id="nome" name="nome" type="text" class="validate" value="{{ usuario.first_name }}" required>
                </div>
                <div class="col s6">
                    <label for="sobrenome"> Sobrenome: </label>
                    <input id="sobrenome" name="sobrenome" type="text" minlength="5" maxlength="30" class="validate" value="{{ usuario.last_name }}">
                </div>
            </div>

            <div class = "row">
                <div class="col s6">
                    <label for="usuario"> Usuário: </label>
                    <input id="usuario" name="usuario" type="text" minlength="5" maxlength="30" value="{{ usuario.username }}" disabled>
                </div>
            </div>

            <div class = "row">
                <div class="col s6">
                    <label for="matricula"> Matrícula </label>
                    <input id="matricula" name="matricula" type="text" class="validate" value="{{ usuario.profile.matricula }}" disabled>
                </div>
            </div>

            <div class = "row">
                <div class="col s6">
                    <label> Tipo de usuário </label>
                    <select name = "tipo_usuario" required>
                        <option value = "" disabled> Escolha uma opção </option>
                        <option value = "administrador" {% if usuario.is_staff %} selected {% endif %}> Adminstrador </option>
                        <option value = "usuario"  {% if not usuario.is_staff %} selected {% endif %}> Usuário </option>
                    </select>
                </div>
            </div>

            <div class = "row">
                <div class="col s6">
                    <a href="#modal2"> Redefinir senha do usuário </a>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s2">
                    <button class="btn waves-effect waves-light blue-grey lighten-4">
                        <a href=" {% url 'usuario_lista' %}" class="black-text text-lighten-5">Cancelar</a>
                    </button>
                </div>

                <div class="input-field col s2">
                    <button class="btn waves-effect waves-light teal accent-4" type="submit" name="action">
                        Salvar
                    </button>
                </div>
            </div>

        </form>

        <div class = "col s2">	</div>
    </div>

    <div id="modal2" class="modal">
        <form method="post" action="{% url 'redefinicao_senha_admin' %}"> {% csrf_token %}

        <div class="modal-content">
            <h4> Redefinir senha do usuário "{{ usuario.username }}"? </h4>

                <input type="hidden" name="pk" value="{{ usuario.pk }}">

                <label for="id_senha"> Senha </label>
                <input id="id_senha" name="senha" type="password" class="validate" required>

                <label for="id_confirma_senha"> Confirma Senha </label>
                <input id="id_confirma_senha" name="confirma_senha" type="password" class="validate" required>
        </div>

        <div class="modal-footer">
            <div class="row">
                <div class="col s4"></div>
                <div class="col s4">
                        <button type="submit" class="waves-effect waves-green btn-flat green darken-1">Confirmar</button>
                </div>
                <div class="col s4">
                    <button href="{% url 'usuario_editar' pk=usuario.pk %}" class="modal-close waves-effect waves-green btn-flat">Cancelar</button>
                </div>
            </div>
        </div>

        </form>
    </div>
{% endblock conteudo %}