{% extends 'baseTemplate.html' %}

<!-- Title da Página -->
{% block title %}
    Allinum .:. Tarefas
{% endblock title %}

<!-- Titulo que aparece no SubMenu da Página -->
{% block titulo %}
    Tarefas
{% endblock titulo %}

<!-- Conteúdo da Página (Hexadecimal) -->
{% block conteudo %}
    <div class="row">
        <div class="col s12">
            <ul class="collapsible">
                {% for projeto in projetos %}
                <li>
                    <div class="collapsible-header teal accent-4 white-text" style="border-radius: 0px 15px 0px 15px;"> <h6> {{ projeto.titulo }} </h6> </div>
                    <div class="collapsible-body">
                        <div class="row">
                            {% for categoria in categorias %}
                            <div class="col s11">
                                <div class="row">
                                    <div class="col s12">
                                        <h5> {{ categoria.nome }} </h5>
                                        <div class="row">
                                            <div class="col s1"></div>
                                            <div class="col s11">
                                                <div>
                                                    <table class="light-blue lighten-3" style="border-radius: 20px;">
                                                        <tbody>
                                                            {% for tarefa in tarefas %}
                                                                {% if tarefa.projeto.id == projeto.id and tarefa.categoria.id == categoria.id %}
                                                            <tr>
                                                                <td style="width: 35%"> {{ tarefa.titulo }} </td>
                                                                <td style="width: 15%"> {{ tarefa.resp.user.username }} </td>
                                                                <td class="{% if tarefa.prioridade == "baixa" %} light-green lighten-2 {% endif %}
                                                                           {% if tarefa.prioridade == "media" %} yellow lighten-3 {% endif %}
                                                                           {% if tarefa.prioridade == "alta" %} red lighten-3 {% endif %}"
                                                                    style="text-align: center; width: 20%"> {{ tarefa.prioridade }} </td>
                                                                <td style="text-align: center; width: 20%"> {{ tarefa.data_limite }} </td>
                                                                <td style="width: 5%"><a href="{% url 'tarefa_editar' pk=tarefa.pk %}" class="secondary-content" style="margin-right: 20%;"><i class="material-icons">send</i></a></td>
                                                            </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock conteudo %}