{% extends 'baseTemplate.html' %}

<!-- Title da Página -->
{% block title %}
    Allinum .:. {{ projeto.titulo }}
{% endblock title %}

<!-- Titulo que aparece no SubMenu da Página -->
{% block titulo %}
    {{ projeto.titulo }}
{% endblock titulo %}

<!-- Conteúdo da Página (Hexadecimal) -->
{% block conteudo %}
    <div class="row" style="margin-left: 20px;">

        {% for categoria in categorias %}
        <div class="col s11">
            <div class="row">
                <div class="col s12">
                    <h5> {{ categoria.nome }} </h5>

                    <div class="row">
                        <div class="col s1"></div>
                        <div class="col s11">
                            <div>
                                <table class="light-blue lighten-3" style="border-radius: 20px;">
                                    <tbody>
                                        {% for tarefa in tarefas %}
                                            {% if tarefa.categoria.id == categoria.id %}
                                        <tr>
                                            <td style="width: 35%"> {{ tarefa.titulo }} </td>
                                            <td style="width: 15%"> {{ tarefa.resp.user.username }} </td>
                                            <td class="{% if tarefa.prioridade == "baixa" %} light-green lighten-2 {% endif %}
                                                       {% if tarefa.prioridade == "media" %} yellow lighten-3 {% endif %}
                                                       {% if tarefa.prioridade == "alta" %} red lighten-3 {% endif %}"
                                                style="text-align: center; width: 20%"> {{ tarefa.prioridade }} </td>
                                            <td style="text-align: center; width: 20%"> {{ tarefa.data_limite }} </td>
                                            <td style="width: 5%"><a href="{% url 'tarefa_editar' pk=tarefa.pk %}" class="secondary-content" style="margin-right: 20%;"><i class="material-icons">send</i></a></td>
                                        </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    <div class="fixed-action-btn" id="projetos-options">
      <a class="btn-floating btn-large teal accent-4">
        <i class="large material-icons">mode_edit</i>
      </a>
      <ul>
        <li><a class="btn-floating green darken-2" href="{% url 'tarefa_cadastro' pk=projeto.pk %}"><i class="material-icons">add</i></a></li>
        {% if template == 'visao_projeto'%}
            <li><a class="btn-floating blue darken-1" href="{% url 'visao_projeto_tarefa' pk=projeto.pk %}"><i class="material-icons">event_note</i></a></li>
        {% endif %}
        {% if template == 'visao_projeto_tarefa'%}
            <li><a class="btn-floating blue darken-1" href="{% url 'visao_projeto' pk=projeto.pk %}"><i class="material-icons">insert_chart</i></a></li>
        {% endif %}
        <li><a class="btn-floating yellow darken-2" href="{% url 'visao_requisito' pk=projeto.pk %}"><i class="material-icons">format_list_bulleted</i></a></li>
          {% if projeto.lider.pk == request.user.pk %}
        <li><a class="btn-floating red darken-2" href="{% url 'projeto_editar' pk=projeto.pk %}"><i class="material-icons">settings</i></a></li>
          {% endif %}
      </ul>
    </div>

{% endblock conteudo %}